:root { 
--gray_50_01:#f9fbff; 
--gray_50_02:#f5f9ff; 
--gray_50_03:#f4f8ff; 
--gray_50_04:#fffcf3; 
--blue_A200:#4d90ff; 
--gray_300_99:#e4e4e499; 
--black_900_01:#090b0d; 
--blue_gray_700:#424c5d; 
--blue_gray_900_01:#24363c; 
--blue_gray_900:#262b35; 
--red_A200_01:#ff4b4b; 
--gray_400:#b3b3b3; 
--blue_900:#003995; 
--blue_gray_100:#d6dae2; 
--gray_800_19:#46464619; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--red_A200:#fe555d; 
--amber_700:#da9e01; 
--blue_50:#e0ebff; 
--gray_100_01:#f4fbf7; 
--blue_gray_400_01:#808191; 
--white_A700:#ffffff; 
--blue_gray_700_01:#535353; 
--deep_orange_50:#f9eee3; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0061ff; 
--gray_900_cc:#0d1624cc; 
--green_600:#349765; 
--blue_A700_01:#0a58ff; 
--gray_50:#f8f9fa; 
--blue_A700_02:#0065ff; 
--black_900_66:#00000066; 
--black_900:#000000; 
--blue_A200_01:#3b82f6; 
--yellow_900:#f7931a; 
--blue_gray_800:#363853; 
--blue_50_01:#e0ecff; 
--blue_A700_7e:#0061ff7e; 
--deep_orange_400:#d58c48; 
--gray_700_11:#55555511; 
--gray_900_02:#09101d; 
--gray_900_03:#0f0e17; 
--blue_gray_200:#bac1ce; 
--gray_900_04:#0d1624; 
--blue_gray_400:#74839d; 
--blue_800:#0051d5; 
--blue_gray_600:#5f6c86; 
--orange_A700:#ff6700; 
--gray_900:#151522; 
--gray_900_01:#11142d; 
--gray_300:#e0e0e0; 
--gray_100:#fbf1f2; 
--gray_700_26:#55555526; 
--gray_800_2b:#4545452b; 
}